<h1>Maxim Salnikov</h1>
<h3>
  Modern Web enthusiast, PWAdvocate, Developer Engagement Lead at Microsoft
  Norway
</h3>
<h2>
  <a href="https://twitter.com/webmaxru">Twitter: @webmaxru</a>
</h2>

<ul>
  <li>
    Conferences: <a href="https://ngvikings.org">ngVikings</a>,
    <a href="https://mobileera.rocks">Mobile Era</a>
  </li>
  <li>
    <a href="http://sessionize.com/maxim-salnikov">My speaker profile</a>
  </li>
  <li>
    <a href="http://bit.ly/maxim-salnikov-speaker-request"
      >Invite me to speak at your event</a
    >
  </li>
</ul>

<ul>
  <li>
    <a href="https://aka.ms/swa-demo"
      ><strong>This demo aka.ms/swa-demo</strong></a
    >
  </li>
  <li>
    <a routerLink="/">Start</a>
  </li>
</ul>
