<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 18px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Azure Static Web Apps</span>
</div>

<div class="content" role="main">
  <h2>Demo</h2>

  <ol>
    <li>
      <h3>Build and deploy</h3>
      <a
        href="https://portal.azure.com/#blade/HubsExtension/BrowseResource/resourceType/Microsoft.Web%2FStaticSites"
        >SWA in Azure portal</a
      >
    </li>
    <li>
      <h3>Creating API</h3>

      <button onclick="callApi()">Demo</button> Hello, <span id="name"></span>

      <ul>
        <li>
          <a
            href="https://docs.microsoft.com/en-us/azure/static-web-apps/add-api"
            >Quickstarts</a
          >
        </li>
        <li>
          <a
            href="https://docs.microsoft.com/en-us/azure/static-web-apps/add-api"
            >Quickstarts</a
          >
        </li>
      </ul>
    </li>
  </ol>

  <h2>Useful links</h2>
  <p>Here are some links to help you get started:</p>

  <ul>
    <li>
      <a href="https://aka.ms/swadocs"
        ><strong>Documentation | aka.ms/swadocs</strong></a
      >
    </li>
    <li>
      <a href="https://burkeholland.github.io/posts/static-app-root-domain/"
        >Setting up a root domain (using CloudFlare)</a
      >
    </li>
    <li>
      <a href="Static Web Apps on Azure - landing page"
        >https://azure.microsoft.com/en-us/services/app-service/static/</a
      >
    </li>
    <li>
      <a href="VS Code Extension"
        >https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurestaticwebapps</a
      >
    </li>
    <li>
      <a href="Quickstarts - Angular"
        >https://docs.microsoft.com/en-us/azure/static-web-apps/getting-started?tabs=angular</a
      >
    </li>
    <li>
      <a href="dddd">ffffff</a>
    </li>
    <li>
      <a href="dddd">ffffff</a>
    </li>
  </ul>

  <script>
    async function callApi() {
      let { text } = await (await fetch(`/api/Greet`)).json();
      document.querySelector("#name").textContent = text;
    }
  </script>
</div>

<router-outlet></router-outlet>
