<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Azure Static Web Apps</span>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
